# Use postgres/example user/password credentials

services:

  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_USER: cynoguard_tech_admin
      POSTGRES_DB : cynoguard
      POSTGRES_PASSWORD: cynoguard@#$2026-121

    ports:
      - "5444:5432"  
    volumes:
      - pgdata:/var/lib/postgresql 

  adminer:
    image: adminer
    restart: always
    ports:
      - 9001:8080

volumes:
  pgdata:
